<%= form_with(model: @staff, local: true) do |f| %>
<div class="grid-y">
  <div class="grid-x">
      <div class="large-12 medium-12 small-12">
        <h3 class="text-center">Datos del Usuario</h3>
      </div>
  </div>

  <div class="grid-x">
    <div class="large-2 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
    <%= f.label "Nombre Completo" %>
    <%= f.text_field :full_name %>

    <%= f.label "Codigo" %>
    <%= f.text_field :username %>

    <%= f.label "Email" %>
    <%= f.email_field :email %>
    </div>

    <div class="large-2 medium-2 small-2 large-offset-4 medium-offset-4 small-offset-4">
        <%= f.label "Contraseña" %>
        <%= f.password_field :password %>

        <%= f.label "Repetir Contraseña" %>
        <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="grid-x">
    <div class="large-2 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
        <fieldset class="large-6 cell">
          <legend>Modificar Web</legend>
          <div class="grid-x">
                <%= f.radio_button :is_web_editor, true %>
                <%= f.label 'Si' %>
          </div>
          
          <div class="grid-x">
                <%= f.radio_button :is_web_editor, false %>
                <%= f.label 'No' %>
          </div>
        </fieldset>
    </div>

    <div class="large-3 medium-3 small-3 large-offset-1 medium-offset-1 small-offset-1">
      <fieldset class="large-6 cell">
        <legend>Roles</legend>
        <div class="grid-x">
          <%= f.radio_button :role_id, Role.find(3).id, :checked => true %>
          <%= f.label 'Ninguno' %>
        </div>

        <div class="grid-x">
          <%= f.radio_button :role_id, Role.find(1).id %>
          <%= f.label 'Administrador' %>
        </div>

        <div class="grid-x">
          <%= f.radio_button :role_id, Role.find(2).id %>
          <%= f.label 'Supervisor' %>
        </div>
      </fieldset>
    </div>

    <div class="large-2 medium-2 small-2">
        <fieldset class="large-6 cell">
          <legend>Publicar</legend>
          <div class="grid-x">
            <%= f.radio_button :can_publish, true %> 
            <%= f.label 'Si' %>
          </div>

          <div class="grid-x">
            <%= f.radio_button :can_publish, false %> 
            <%= f.label 'No' %>
          </div>
        </fieldset>
    </div>
  </div>

  <div class="grid-y">
    <div class="grid-x">
      <div class="large-12 medium-12 small-12">
        <h3 class="text-center">Unidad Tramitadoras</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="grid-y large-2 medium-2 small-2 large-offset-3 medium-offset-3 small-offset-3">
        <div class="cell">
          <label>Disponibles
            <input type="text" placeholder="Buscar">
          </label>
        
          <table id="procUnit_table_disponible" class="hover">
            <thead>
              <tr>
                <th width="25">Seleccionar</th>
                <th width="75">Unidad</th>
              </tr>
            </thead>
            <tbody>
            <% @proc_unit_all.each do |proc_unit| %>
              <tr id="procUnit_disponible_<%= proc_unit.id %>">
                <td><input type="checkbox"/></td>
                <td><%= proc_unit.code %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        
      </div>
      
      <div class="large-2 medium-2 small-2">
        <div class="grid-y cell large-offset-6 medium-offset-6 small-offset-6">
          <a href="#"><i class="fi-arrow-right"></i></a>
          <a href="#"><i class="fi-x"></i></a>
          <a href="#"><i class="fi-arrow-left"></i></a>
        </div>
      </div>
      
      <div class="grid-y large-2 medium-2 small-2">
        
        <div class="cell">
          <label>Asignadas
            <input type="text" placeholder="Buscar">
          </label>
        
          <table id="procUnit_table_asignado" class="hover">
            <thead>
              <tr>
                <th width="25">Seleccionar</th>
                <th width="75">Unidad</th>
              </tr>
            </thead>
            <tbody>
            <% @proc_unit_staff.each do |proc_unit| %>
              <tr id="procUnit_asignado_<%= proc_unit.id %>">
                <td><input type="checkbox"/></td>
                <td><%= proc_unit.code %></td>
              </tr>
            <% end %>
              
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
      
    <div class="grid-x large-offset-6 medium-offset-6 small-offset-6">
      <%= f.submit "Guardar", class: "button primary" %>
    </div>
  </div>
</div>
<% end %>


  
    
    



  
