<% if @staff.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

    <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Volver', staffs_path %>
<h3>Editando el usuario <%= @staff.full_name %></h3>

<%= render 'form', staff: @staff %>
