<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-3 medium-up-4 large-up-6">
    <div class="cell">
      <%= form_with method: :get, url: staffs_path, id: 'staffs_search' do |form| %>
        <%= form.label :search, 'Código' %>
        <%= form.text_field :search, value: params[:search],  placeholder: 'Nombre' %>
      <% end %>

      <!-- FUNCIONA EL BUSCADOR SIN AJAX -->
      <%#= form_tag staffs_path, :method => 'get' do %>
      <%#= text_field_tag :search, params[:search] %>
      <%# end %>

    </div>

    <div class="cell">
      <%= form_with url: '/search_staff', method: 'get' do %>
        <%= label_tag :nombre_completo, 'Nombre Completo' %>
        <%= text_field_tag :nombre_completo, nil, placeholder: 'Nombre Completo' %>
      <% end %>
    </div>

    <div class="cell">
      <%= form_with url: '/search_staff', method: 'get' do %>
        <%= label_tag :unidad_tramitadora, 'Unidad Tramitadora' %>
        <%= text_field_tag :unidad_tramitadora, nil, placeholder: 'Unidad Tramitadora' %>
      <% end %>
    </div>

    <div class="cell large-offset-4">
      <%= link_to "Nuevo Usuario", new_staff_path, class: "button success" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x" id="staffs">
    <%= render 'table_staffs' %>
  </div>
</div>
