<%= form_with(model: interest_point, local: true) do |f| %>

<% if @interest_point.errors.any? %>
  <div data-abide-error class="alert callout" id="error_explanation">
    <h2><%= t("error_messages.errors_count", deep_interpolation: true, count: pluralize(@interest_point.errors.count, t("error_messages.errors"))) %></h2>

    <ul>
      <% @interest_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="grid-y">
  <div class="grid-x">
      <div class="large-12 medium-12 small-12">
        <h3 class="text-center"><%= t("field_form.date_tag", deep_interpolation: true, element: t("field_form.interest_point")) %></h3>
      </div>
      
      <div class="large-12 medium-12 small-12 text-center">
        <%= image_tag(@interest_point.point_image) if @interest_point.point_image.attached? %>
      </div>
    
      <div class="large-4 medium-4 small-4 large-offset-5 medium-offset-5 small-offset-5 text-center">
        <%= f.file_field :point_image, accept: "image/png, image/jpg, image/jpeg" %>
      </div>
   </div>
  </div>
  
  <div class="grid-x">
    <div class="large-4 medium-4 small-4 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.name") %>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="grid-x">
    <div class="large-9 medium-9 small-9 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.description") %>
      <%= f.text_area :description, rows: "8" %>
    </div>
  </div>

  <div class="grid-x">
    <div class="large-12 medium-12 small-12">
      <h3 class="text-center"><%= t("tags.location") %></h3>
    </div>
  </div>


 <div class="grid-x">
   
  <div class="large-2 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.latitude") %>
      <%= f.number_field :latitude, step: "any", id: "inp_latitud" %>

      <%= f.label t("tags.longitude") %>
      <%= f.number_field :longitude, step: "any", id: "inp_longitud" %>
    
      <a id="into_map" class="button primary"><%= t("tags.show_in_map") %></a>
  </div>
   
  <div class="large-6 medium-6 small-6 large-offset-2 medium-offset-2 small-offset-2">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe name="map_preview" width="400" height="400" id="gmap_canvas" src="<%= @src_map %>" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
   
</div>
 
  <div class="grid-x large-offset-6 medium-offset-6 small-offset-6">
    <%= f.submit t("button_text.save"), class: "button primary" %>
  </div>
</div>

<% end %>