<table class="hover">
    <thead>
      <tr>
        <th width="25"><%= t("tags.date") %></th>
        <th width="25"><%= t("tags.status") %></th>
        <th width="50"><%= t("tags.message") %></th>
        <th width="50"><%= t("tags.staff_user") %></th>
        <% if !(@incidence_tracking_status.nil?) %>
        <% if @incidence_tracking_status.status != 3 %>
        <% if @incidence_tracking_status.status != 4 %>
        <th width="100"><%= t("tags.actions") %></th>
        <% end %>
        <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @incidence_tracking_incidence.each_with_index do |tracking, index| %>
      <tr id=<%= tracking.id %>>
          <td><%= tracking.created_at.strftime("%d/%m/%Y %R") %></td>
          <% if tracking.status == 1 %>
                  <td style="color: <%= t("statuses.send_color") %>;"><%= t("statuses.send") %></td>
              <% else %>
                <% if tracking.status == 2 %>
                    <td style="color: <%= t("statuses.inprocess_color") %>;"><%= t("statuses.inprocess") %></td>
                <% elsif tracking.status == 3 %>
                    <td style="color: <%= t("statuses.ended_color") %>;"><%= t("statuses.ended") %></td>
                <% elsif tracking.status == 4 %>
                    <td style="color: <%= t("statuses.no_acept_color") %>;"><%= t("statuses.no_acept") %></td>
              <% end %>
          <% end %>
          <td><%= tracking.message %></td>
          <td><%= @staff_names[tracking.staff_id] %></td>
          <% if !(@incidence_tracking_status.nil?) %>
          <% if @incidence_tracking_status.status != 3 %>
          <% if @incidence_tracking_status.status != 4 %>
          <td>
            <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-1">
              <% if tracking.id != 0 %>
                <% if @user_role == 5 || @incidence_tracking_status.status != 3  %>
                <% if @incidence_tracking_status.status != 4 %>
                <div class="cell">
                    <%= link_to t("button_text.mod_edit"), edit_incidence_incidence_tracking_path(@incidence, tracking), class: "button primary"  %>
                </div>
                <% end %>
                <% end %>
                <% if @user_role == 5 || (@incidence_tracking_status.status != 3 && index >= (@incidence_tracking_incidence.size - 1))  %>
                <% if @incidence_tracking_status.status != 4 %>
                <div class="cell">
                    <a class="button alert" data-open="ModalEliminar_<%= tracking.id %>">Eliminar</a>
                    <div class="small reveal" id="ModalEliminar_<%= tracking.id %>" data-reveal>
                        <h3 class="text-center"><%= t("modals.delete.message") %></h3>
                        <div class="grid-x">
                        <div class="cell large-2 medium-2 small-2 large-offset-2 mediun-offset-2 small-offset-2">
                          <a class="button success" type="button" rel="nofollow" data-method="delete" href="<%= incidence_incidence_tracking_path(@incidence, tracking) %>" data-close><%= t("general.accept") %></a>
                        </div>

                        <div class="cell large-2 medium-2 small-2 large-offset-3 mediun-offset-3 small-offset-3">
                            <a class="button alert" type="button" data-close><%= t("general.cancel") %></a>
                        </div>
                        </div>
                    </div>
                </div>
              <% end %>
              <% end %>
              <% end %>
            </div>
          </td>
          <% end %>
          <% end %>
          <% end %>
      </tr>
      <% end %>
    </tbody>
</table>