<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-3 medium-up-3 large-up-5">
      <div class="cell">
        <label>
          Descripcion
          <input type="text" placeholder="Descripcion">
        </label>
      </div>
    
      <div class="cell">  
        <label>
          Tipo
          <input type="text" placeholder="Tipo">
        </label>
      </div>
    
      <div class="cell">
        <label>
          Fecha
          <input type="date" placeholder="Inicio">
          Hasta
          <input type="date" placeholder="Fin">
        </label>
      </div>
   
  </div>
  
  <div class="grid-x grid-margin-x">
    <table class="hover">
      <thead>
        <tr>
          <th width="50">Foto</th>
          <th width="200">Descripcion</th>
          <th width="50">Tipo</th>
          <th width="50">Fecha</th>
          <th width="50">Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @incidences.each do |incidence| %>
        <tr id="incidence_<%= incidence.id %>">
          <td><%= incidence.image_url %></td>
          <td><%= incidence.description %></td>
          <td><%= @incidence_type_name[incidence.incidence_type_id] %></td>
          <td><%= incidence.created_at.strftime("%d/%m/%Y") %></td>
          <td>
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <%= link_to "Detalles", incidence_path(incidence), class: "button primary" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
