<table class="hover">
      <thead>
        <tr>
          <th width="25"><%= t("tags.title") %></th>
          <th width="50"><%= t("tags.author") %></th>
          <th width="50"><%= t("tags.date") %></th>
          <th width="50"><%= t("tags.published") %></th>
          <th width="50"><%= t("tags.actions") %></th>
        </tr>
      </thead>
      <tbody>
      <% @news.each do |new| %>
        <tr id="<%= new.id %>">
          <td><%= new.created_at.strftime("%d/%m/%Y %R") %></td>
          <td><%= new.title %></td>
          <td><%= @author_name[new.author_id] %></td>
          <td>
            <% if new.published %>
              <%= t("general.yes_option") %>
            <% else %>
              <%= t("general.no_option") %>
            <% end %>
          </td>
          <td>
            <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-3">
              <div class="cell">
                <% if @user_role == 1 || @user_role == 2 || new.author_id == @current_user.id %>
                  <%= link_to t("button_text.details"), edit_news_path(new), class: "button primary" %>
                <% else %>
                  <%= link_to t("button_text.details"), news_path(new), class: "button primary" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>