<% if @news.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this staff from being saved:</h2>

    <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= t("field_form.edit_register", deep_interpolation: true, element: t("field_form.news"), regist: @news.title) %></h1>
<%= render 'form', news: @news %>
<%= link_to t("general.back"), news_index_path %>