<%= form_with(model: @incidence_type, local: true) do |f| %>
<div class="grid-y">
  <div class="grid-x">
      <div class="large-12 medium-12 small-12">
        <h3 class="text-center"><%= t("field_form.date_tag", deep_interpolation: true, element: t("field_form.incidence_type")) %></h3>
      </div>
  </div>

  <div class="grid-x">
    <div class="large-3 medium-3 small-3 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.name") %>
      <%= f.text_field :name %>
    </div>
    
    <div class="large-1 medium-1 small-1 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.code") %>
      <%= f.text_field :code %>
    </div>
  </div>  
  
  <div class="grid-x">
    <div class="large-8 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label t("tags.description") %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="grid-x large-offset-6 medium-offset-6 small-offset-6">
    <%= f.submit t("button_text.save"), class: "button primary" %>
  </div>
</div>
<% if @edit %>
<div class="grid-y">
  <div class="grid-x">
    <div class="large-12 medium-12 small-12">
      <h4 class="text-center"><%= t("field_form.processing_unit") %></h4>
      <p class="text-center"><%= t("field_form.table_text") %></p>
    </div>
  </div>
  <div class="grid-x">
    <div class="grid-y large-2 medium-2 small-2 large-offset-3 medium-offset-3 small-offset-3">
      <div class="cell">

        <p class="text-center"><%= t("general.avaible") %></p>

        <table id="procUnit_table_disponible" class="hover">
          <thead>
            <tr>
              <th width="25"><%= t("tags.select") %></th>
              <th width="75"><%= t("tags.unit") %></th>
            </tr>
          </thead>
          <tbody>
          <% @processing_unit_all.each do |proc_unit| %>
            <tr id="procUnit_disponible_<%= proc_unit.id %>">
              <td><input type="checkbox"/></td>
              <td><%= proc_unit.code %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
    
    <div class="large-2 medium-2 small-2">
      <div class="grid-y cell large-offset-6 medium-offset-6 small-offset-6">
        <a href="/assign_pu_it/<%= @incidence_type.id %>" data-remote="true"><i class="fi-arrow-right" ></i></a>
        <a href="/unassign_pu_it/<%= @incidence_type.id %>" data-remote="true"><i class="fi-arrow-left" ></i></a>
      </div>
    </div>
    
    <div class="grid-y large-2 medium-2 small-2">
      
      <div class="cell">
        <p class="text-center"><%= t("general.selected") %></p>
        <table id="procUnit_table_asignada" class="hover">
          <thead>
            <tr>
              <th width="25"><%= t("tags.select") %></th>
              <th width="75"><%= t("tags.unit") %></th>
            </tr>
          </thead>
          <tbody>
          <% @processing_unit_pi_array.each do |proc_unit| %>
            <tr id="procUnit_asignada_<%= proc_unit.id %>">
              <td><input type="checkbox"/></td>
              <td><%= proc_unit.code %></td>
            </tr>
          <% end %>
            
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
<% end %>
<% end %>