<% if @incidence_type.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@incidence_type.errors.count, "error") %> prohibited this staff from being saved:</h2>

    <ul>
      <% @incidence_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3><%= t("field_form.new_register", deep_interpolation: true, element: t("field_form.incidence_type")) %></h3>
<%= render 'form', incidence_type: @incidence_type %>
<%= link_to t("general.back"), incidence_types_path %>

