<%= form_with(model: @incidence_tracking, url: @url_form, method: @method_form, local: true) do |f| %>
<div class="grid-y">
  <div class="grid-x">
    <div class="large-12 medium-12 small-12">
      <h3 class="text-center"><%= t("button_text.incidence_tracking_new") %></h3>
    </div>
  </div>

  <div class="grid-x">
    <div class="large-2 medium-2 small-2 large-offset-5 medium-offset-5 small-offset-5">
      <label class="text-center">
      <%= f.label t("tags.status"), class: "text-center" %>
      <%= f.select(:status, options_for_select([[t("statuses.inprocess"), 2], [t("statuses.ended"), 3], [t("statuses.no_acept"), 4]], @incidence_tracking.status)) %>
    </div>

    <div class="large-10 medium-10 small-10 large-offset-1 medium-offset-1 small-offset-1">
      <%= f.label t("tags.message"), class: "text-center" %>
      <%= f.text_area :message, rows: 10, cols: 120 %>
    </div>
  </div>

  <div class="grid-x large-offset-6 medium-offset-6 small-offset-6">
    <%= f.submit t("button_text.save"), class: "button primary" %>
  </div>
</div>
<% end %>
