<p id="notice"><%= notice %></p>

<h1>Incidence Trackings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidence_trackings.each do |incidence_tracking| %>
      <tr>
        <td><%= link_to 'Show', incidence_tracking %></td>
        <td><%= link_to 'Edit', edit_incidence_tracking_path(incidence_tracking) %></td>
        <td><%= link_to 'Destroy', incidence_tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidence Tracking', new_incidence_tracking_path %>
