<%= form_for :processing_unit do |f| %>
<div class="grid-y">
  <div class="grid-x">
    <div class="large-12 medium-12 small-12">
      <h4 class="text-center">Datos de la Unidad</h4>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-2 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
    <%= f.label "Codigo" %>
    <%= f.text_field :code %>
    </div>
  </div>

  <div class="grid-x">
    <div class="large-8 medium-2 small-2 large-offset-2 medium-offset-2 small-offset-2">
      <%= f.label "Descripcion" %>
      <%= f.text_area :description %>
    </div>
  </div>
</div>


<div class="grid-y">
  <div class="grid-x">
    <div class="large-12 medium-12 small-12">
      <h4 class="text-center">Personal asignado</h4>
    </div>
  </div>

  <div class="grid-x">
    <div class="grid-y large-2 medium-2 small-2 large-offset-3 medium-offset-3 small-offset-3">

      <div class="cell">
        <label>Disponibles
          <input type="text" placeholder="Buscar">
        </label>

        <table class="hover">
          <thead>
          <tr>
            <th width="25">Seleccionar</th>
            <th width="75">Usuario</th>
          </tr>
          </thead>
          <tbody>
          <% @staff_all.each do |staff| %>
            <tr id="ut_disponible_<%= staff.id %>">
              <td><input type="checkbox"/></td>
              <td><%= staff.username %></td>
            <tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

    <div class="large-2 medium-2 small-2">
      <div class="grid-y cell large-offset-6 medium-offset-6 small-offset-6">
        <a href="#"><i class="fi-arrow-right"></i></a>
        <a href="#"><i class="fi-x"></i></a>
        <a href="#"><i class="fi-arrow-left"></i></a>
      </div>
    </div>

    <div class="grid-y large-2 medium-2 small-2">

      <div class="cell">
        <label>Asignados
          <input type="text" placeholder="Buscar">
        </label>

        <table class="hover">
          <thead>
          <tr>
            <th width="25">Seleccionar</th>
            <th width="75">Usuario</th>
          </tr>
          </thead>
          <tbody>
          <% @staff_ut.each do |staff| %>
            <tr id="ut_asignada_<%= staff.id %>">
              <td><input type="checkbox"/></td>
              <td><%= staff.username %></td>
            <tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="grid-y">
    <div class="grid-x">
      <div class="large-12 medium-12 small-12">
        <h4 class="text-center">Tipos de Incidencias</h4>
      </div>
    </div>

    <div class="grid-x">
      <div class="grid-y large-2 medium-2 small-2 large-offset-3 medium-offset-3 small-offset-3">

        <div class="cell">
          <label>Disponibles
            <input type="text" placeholder="Buscar">
          </label>

          <table class="hover">
            <thead>
            <tr>
              <th width="25">Seleccionar</th>
              <th width="75">Tipo</th>
            </tr>
            </thead>
            <tbody>
            <% @incidence_type_all.each do |incidence_type| %>
              <tr id="incTy_disponible_<%= incidence_type.id %>">
                <td><input type="checkbox"/></td>
                <td><%= incidence_type.code %></td>
              <tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>

      <div class="large-2 medium-2 small-2">
        <div class="grid-y cell large-offset-6 medium-offset-6 small-offset-6">
          <a href="#"><i class="fi-arrow-right"></i></a>
          <a href="#"><i class="fi-x"></i></a>
          <a href="#"><i class="fi-arrow-left"></i></a>
        </div>
      </div>

      <div class="grid-y large-2 medium-2 small-2">

        <div class="cell">
          <label>Asignadas
            <input type="text" placeholder="Buscar">
          </label>

          <table class="hover">
            <thead>
            <tr>
              <th width="25">Seleccionar</th>
              <th width="75">Tipo</th>
            </tr>
            </thead>
            <tbody>
            <% @incidence_type_ut.each do |incidence_type| %>
              <tr id="incTy_asignado_<%= incidence_type.id %>">
                <td><input type="checkbox"/></td>
                <td><%= incidence_type.code %></td>
              <tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="grid-x large-offset-6 medium-offset-6 small-offset-6">
      <a class="button primary" href="#">Guardar</a>
    </div>
  </div>
</div>
<% end %>