<table class="hover">
  <thead>
    <tr>
      <th width="50"><%= t("tags.code") %></th>
      <th width="200"><%= t("tags.description") %></th>
      <th width="50"><%= t("tags.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% @processing_units.each do |processing_unit| %>
    <tr id="staff_<%= processing_unit.id %>">
      <td><%= processing_unit.code %></td>
      <td><%= processing_unit.description %></td>
      <td>
        <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-2">
          <div class="cell">
            <%= link_to t("button_text.mod_edit"), edit_processing_unit_path(processing_unit), class: "button primary" %>
          </div>
          
          <div class="cell">
            <a class="button alert" data-open="ModalEliminar_<%= processing_unit.id %>"><%= t("button_text.delete") %></a>
              <div class="small reveal" id="ModalEliminar_<%= processing_unit.id %>" data-reveal="true">
                <h3 class="text-center"><%= t("modals.delete.message") %></h3>
                <div class="grid-x">
                  <div class="cell large-2 medium-2 small-2 large-offset-2 mediun-offset-2 small-offset-2">
                    <a class="button success" type="button" rel="nofollow" data-method="delete" href="<%= processing_unit_path(processing_unit.id) %>" data-close><%= t("general.accept") %></a>
                  </div>
                  
                  <div class="cell large-2 medium-2 small-2 large-offset-3 mediun-offset-3 small-offset-3">
                    <a class="button alert" type="button" data-close><%= t("general.cancel") %></a>
                  </div>
                </div>
              </div>
           </div>
          </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>